@import"reset.css";
@import"grid.css";
@import"forms.css";
@import url(http://fonts.googleapis.com/css?family=Passion+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic);
#body_contact{background:url(../images/contact.jpg); background-size:100% 100%;}
.offer_body{background:url(../images/offer_bg.jpg); background-size:100% 100%; }

body{
overflow:hidden;
    width: 100%;
    height: 100%;
text-shadow: 1px 1px 1px black, 2px 2px 10px white;

background:url(../images/main-bg.png); background-size:100% 110% ;

font:12px/18px Arial, Helvetica, sans-serif;
	color:#717171;
		min-width:100%;scrollbar-face-color:#5997CA; 
          scrollbar-shadow-color: #ffffff;
          scrollbar-highlight-color: #ffffff;
          scrollbar-3dlight-color: #5997CA;
          scrollbar-darkshadow-color: #5997CA; 
          scrollbar-track-color: #F6F6F6;
          scrollbar-arrow-color: #F6F6F6;
}

.but{position: absolute; top:20%; z-index:10; left: 20%;-webkit-user-select: none; 
  -ms-user-select: none;     user-select: none;  }
.but a{
-webkit-user-select: none; 
  -ms-user-select: none;     user-select: none;  }
.buttonn {text-align:center;

 transform: rotate(-10deg) scale(1);
  -moz-border-radius: 26px;
  -moz-box-shadow: #000000 6px 8px 16px;
  -moz-transition: all 1.3s ease;
  -ms-transition: all 1.3s ease;
  -o-transition: all 1.3s ease;
  -webkit-border-radius: 26px;
  -webkit-box-shadow: #6E7849 0 0 10px;
  -webkit-transition: all 1.3s ease;
  background-color: #000000;
  background-image: -moz-linear-gradient(1deg, #ffffff, #000000);
  background-image: -ms-linear-gradient(1deg, #ffffff, #000000);
  background-image: -o-linear-gradient(1deg, #ffffff, #000000);
  background-image: -webkit-linear-gradient(1deg, #ffffff, #000000);
  background-image: linear-gradient(1deg, #ffffff, #000000);
transition: background 1.5s ease;
  border-radius: 26px;
  border: 7px solid #00a817;
  box-shadow: #000000 6px 8px 16px;
  color: #ffffff;
  display: inline-block;
  font-size: 3em; letter-spacing:20px;
  margin: auto;
  padding: 15px;
  text-decoration: none;
  text-shadow: 1px 1px 0.5px yellow,2px 2px 2px black, 5px 5px 15px black;
 
transition: all 1s ease;
}
.buttonn:hover {
  -moz-border-radius: 21px;
  -moz-transform: rotate(-20deg) scale(1.4);
  -ms-transform: rotate(-20deg) scale(1.4);
  -o-transform: rotate(-20deg) scale(1.4);
  -webkit-border-radius: 21px;
  -webkit-transform: rotate(-20deg) scale(1.4);
  background-color: #0103cb;transition: all 1.3s ease;
  background-image: -moz-linear-gradient(1deg, #fff214, #0103cb);
  background-image: -ms-linear-gradient(1deg, #fff214, #0103cb);
  background-image: -o-linear-gradient(1deg, #fff214, #0103cb);
  background-image: -webkit-linear-gradient(1deg, #fff214, #0103cb);
  background-image: linear-gradient(1deg, #fff214, #0103cb);transition: 1sec;
  border-radius: 21px;box-shadow:2px 2px 6px black, 0px -2px 10px blue, 0px 5px 20px yellow;
  padding: 15px; user-select:none;
  transform: rotate(-20deg) scale(1.4);text-shadow: 1px 1px 1px black,2px 2px 2px yellow,6px 6px 7px black, 8px 8px 30px white;
}






.ic {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
html,body{height:100%;}
html {min-width:100%;}
/* Global Structure---------------------------------------- */
.main{
	margin:10px auto;
	position:relative;
top:10px;
	width:100%;
height:90%; 
display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
overflow:hidden;

}


}
/*----- alignment & clearing -----*/
.fleft{float:left}
.fright{float:right}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}


.wrapper{width:100%;
	overflow:hidden;
	position:relative;
top:20px;
}
.extra-wrap{
	overflow:hidden;
	display:block;
}
/*  Header styles */
h1,h2,h3,h4,h5,h6{
	color:#fff;
	padding:0 0 9px 0;
	font-weight:normal;
	font-family: 'Passion One', cursive;
}
h1{font-size:40px; line-height:48px;}
h2{font-size:36px; line-height:44px;}
h3{font-size:32px; line-height:40px;} 
h4{font-size:28px; line-height:34px;}  
h5{font-size:24px; line-height:30px;}
h6{font-size:20px; line-height:24px;}
.heading-1 {
	color:#b30404;
}
/*----- text & typography -----*/
.def-list-1 {padding:0 0 10px 0;}
.def-list-1 dt {
	display:block;
	font-size:12px;
	line-height:18px;
	padding:0 0 6px 0;
	color:#b09609;
	font-weight:bold;
}
	.def-list-1 dt a {
		color:#b09609;
		text-decoration:none;
	}
		.def-list-1 dt a:hover {text-decoration:underline;text-shadow: 1px 1px 1px black, 2px 2px 2px yellow;}

.quote {
	font-size:12px;
	line-height:20px;
	font-style:italic;
	position:relative;
	padding:0 0 15px 0;
}
	.quote strong {
		font-weight:normal;
		color:#b09609;
	}
	

strong {color:#b30404;}
.str-1 {
	font-weight:normal;
	text-transform:uppercase;
}
.str-2 {
	color:#b09609;
}
.color-1 {
	color:#fff;
}
/*----- borders & lines -----*/
.hr-border-1 {
	border-bottom:1px solid #323232;
	margin:0 0 9px 0;
}
#offers{width:800px;}
#offers div.grid_4{margin-left:20px;}
#offers div.alpha {
	
	margin-left:75px;
}

.hr-border-2 {
	background:#323232;
	height:3px;
	margin:0 40px 20px 40px;
}
/*----- boxes -----*/
.banner-box {
	background:rgba(0,0,0,0.8);
	padding:25px 135px 35px 40px;
	position:relative;
text-shadow: 1px 1px 1px black, 2px 2px 10px white;
box-shadow: 5px 5px 10px white;
}
.banner-box h3 {
	font-size:34px;
	line-height:40px;
	padding:0;
}
.banner-box h4 {
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-size:21px;
	line-height:26px;
	margin:-5px 0 0 0;
	font-weight:300;
	letter-spacing:-1px;
	padding:0 0 18px 0;
}
.banner-box .inner {
	position:relative;
	z-index:2;
}
.banner-box-img {

	position:absolute;
	right:0;
	bottom:0;
}
/*----- indents -----*/


p {padding-bottom:18px;}
.p {padding-bottom:18px;}
.p0 {padding-bottom:0 !important;}
.p1 {padding-bottom:6px !important;}
.p2 {padding-bottom:15px !important;}

.a1 {margin:0 5px;}

.indent-bot {
	padding:0 0 32px 0;
}
.indent-bot-1 {
	padding:0 0 70px 0;
}
.indent-bot-2 {
	padding:0 0 20px 0;
}
.indent-right {margin-right:90px;}
.pad-left {
	padding-left:35px;
}
.pad-top {padding-top:8px;}
/*----- lists -----*/
.list-1 {padding:0 0 20px 0;}
.list-1 li {
	display:block;
	padding:4px 0 4px 16px;
	border-top:1px solid #323232;
	background:url(../images/list-1-marker.gif) no-repeat 0 10px;
}
	.list-1 li:first-child {padding:0 0 6px 16px; border:none;background:url(../images/list-1-marker.gif) no-repeat 0 5px;}
	.list-1 li a {
		color:#717171;
		font-size:14px;
		line-height:20px;
		padding:5px 0 6px;
		text-decoration:none;
	}
		.list-1 li a:hover {
			color:#fff;
		}

/*----- buttons & links -----*/
a {
	color:#fff;
	text-decoration: underline;
	cursor:pointer;
}
	a:hover {text-decoration: none;}

.button {
	display:inline-block;
	font-size:12px;
	color:#fff;
	text-decoration: underline;
	background:url(../images/link-marker.gif) no-repeat right 7px;
	padding:0 11px 0 0;
}
	.button:hover {
		text-decoration:none;
	}


.link {
	text-decoration: underline;
	color:#ee623a;
	font-weight:bold;
}
	.link:hover {text-decoration: none;}

/*********************************header*************************************/
header{
	position:relative;
top:0px;
	z-index:2;
	width:950px;
	margin:0 auto;
	padding:80px 0 0 0;
	
}
header .inner {top:0px; width:100%; height:70px; left:0;
	background:url(../images/header-bg.png);
	padding:16px 10px 15px 10px;
	position:fixed;
	z-index:2;
}
.logo {position:absolute; top:25%;
	display:inline-block;
	padding:0 !important;
}
.logo a {
	position:relative; top:-10px;background: url(../images/logo1.png) no-repeat 0 0;
	height:100px;

	width:700px;
	overflow:hidden;
	text-indent:-99em;
	display:block;
}
/********************** Slider ************************/
.mp-slider .items {display:none;}
.mp-slider {
	position:relative;
	
	
	height:511px;
}
.slider-container {top:0px;
	position:relative; 
	z-index:1;
	height:511px;

width:960px;
}
.mp-prev, .mp-next {
	position:absolute;
	width:31px;
	height:100%;
	bottom:0;
	z-index:3;
}
.mp-prev {
	left:0;
	background:url(../images/slider-prev.png) no-repeat 0 0;
}
	.mp-prev:hover {
		background:url(../images/slider-prev.png) no-repeat right 0;
	}
.mp-next {
	right:0;
	background:url(../images/slider-next.png) no-repeat 0 0;
}
	.mp-next:hover {
		background:url(../images/slider-next.png) no-repeat right 0;
	}

.mp-slider .banner { -webkit-user-select: none; 
  -ms-user-select: none;     user-select: none;    
	position:absolute;
	left:35px;
	right:35px;
	font-family: 'Passion One', cursive;
	color:#fff;
	z-index:99;
	top:120px;
	bottom:0;
	padding:0;
	text-align:center;
	font-size:84px;
	line-height:100px;
	text-transform:uppercase;
}
	.mp-slider .banner span {text-shadow:0px 0px 3px black,1px 1px 2px yellow,4px 4px 4px red;
		display:block;
	}
	.mp-slider .mp-ban-1 .row-1 {text-shadow:0px 0px 3px black,1px 1px 2px yellow,4px 4px 4px red;
		padding:40px 0 0 0;line-height:140px;
	}
	.mp-slider .mp-ban-1 .row-2 {text-shadow:0px 0px 3px black,1px 1px 2px yellow,4px 4px 4px green;
		font-size:110px;
		line-height:130px;
		margin:-45px 0 0 0;
	}
	.mp-slider .mp-ban-1 .row-3 {text-shadow:0px 0px 3px black,1px 1px 2px yellow,4px 4px 4px blue;
		margin:-40px 0 0 0;line-height:140px;
	}
	.mp-slider .mp-ban-2 .row-1 {text-shadow:0px 0px 3px black,1px 1px 2px yellow,4px 4px 4px red;
		padding:35px 0 0 0;
		font-size:85px;
		line-height:110px;
	}
	.mp-slider .mp-ban-2 .row-2, .mp-slider .mp-ban-2 .row-3 {text-shadow:0px 0px 3px black,1px 1px 5px yellow,4px 4px 4px white,5px 5px 5px yellow,;
		color:#ad0000;
		margin:-40px 0 0 0;
	}
	.mp-slider .mp-ban-3 .row-1 {
		padding:35px 0 0 0;
		font-size:92px;
		line-height:140px;
	}
	.mp-slider .mp-ban-3 .row-2{

margin:-40px 0 0 0;
line-height:140px;}

.mp-slider .mp-ban-3 .row-3 {
		margin:-40px 0 0 0;line-height:140px;
	}
/********************** Navigation ************************/
nav { top:5%;
	float:right;
	padding:12px 0 0 0;
}

.sf-menu{ top:20%;
	min-height:28px;
	padding:0;
	margin:0;
position: absolute;
    
    right: 0px;
}

.sf-menu > li{
	position:relative;
	float:left;
	margin:0 28px;
}

.sf-menu > li > a {
	text-decoration:none;
	display:block;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	line-height:18px;
	text-transform:uppercase;
	color:#fff;
	padding:10px 0 0 0;
	background:url(../images/nav-active.png) no-repeat center -30px;
}

	.sf-menu > li.current > a, .sf-menu > li:hover > a, .sf-menu > li.sfHover > a {
		color:#afaa9b;
		text-decoration:none;
		background:url(../images/nav-active.png) no-repeat center 0;
	}

.sf-menu li:hover ul,.sf-menu li.sfHover ul{top:35px; left:0; z-index:999;}
.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul{top:-999em}
.sf-menu li.current,.sf-menu li:hover,.sf-menu li.sfHover{
	text-decoration:none;
}
.sf-menu li li a{
	display:block;
	margin:0;
	position:relative;
	text-decoration:none;
	font-size:12px;
	line-height:14px;
	color:#fff;
	overflow:hidden;
	padding:8px 5px 8px 15px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	background:url(../images/sub-nav-tail.png);
}
.sf-menu li li > a:hover, .sf-menu li li.sfHover > a, .sf-menu li li.current > a{
	color:#afaa9b;s
}

.sf-menu li li{
	float:none;
	position:relative;
	margin:0 0 1px 0;
}

.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul{left:186px;top:0;}



/********************** Content ************************/

section#content {
	position:relative;
margin-top:30px; 
	z-index:1;
overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.content-bg {
	//background:url(../images/body-bg.png);
background-color: rgba(0, 0, 0, 0.6);
	padding:35px 0 43px;
}
.author {
	display:inline-block;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	font-size:14px;
	line-height:20px;
	font-weight:bold;
}
	.author i {font-weight:normal;}

.dropcap {
	float:left;
	font-family: 'Passion One', cursive;
	font-size:24px;
	line-height:30px;
	color:#b30404;
	margin:0 5px 0 0;
}
.price-list li {
	overflow:hidden;
	font-size:14px;
	line-height:18px;
	padding:0 0 12px 14px;
	background:url(../images/list-1-marker.gif) no-repeat 0 5px;
}
	.price-list li .price-item {
		float:left;
		color:#717171;
		text-decoration:none;
		max-width:70%;
		margin:0 6px 0 0;
	}
		.price-list li .price-item:hover {color:#fff;}
	.price-list li .filler {
		display:block;
		background:url(../images/filler.gif) repeat-x 0 bottom;
		height:15px;
		overflow:hidden;
	}
	.price-list li .price {
		float:right;
		margin:0 0 0 6px;
		width:60px;
		text-align:left;
		color:#b30404;
	}

.adress {padding:0 0 20px 0;}
.adress dt {
	display:block;
	font-weight:normal;
	color:#fff607 ;
	font-size:12px;
	line-height:18px;
	width:235px;
}
.adress dd {
	font-size:12px;
	line-height:18px;
	color:#fff607 ;
	overflow:hidden;
}
.adress dd span {
	float:left;
	width:59px;
	text-align:right;
	margin:0 6px 0 0;
}

/******************** Footer ******************/
footer {
	color:#717171;
	font-size:12px;
}
.footer-bg {
	background:url(../images/body-bg.gif);
	padding:0 0 30px 0;
}
footer a {color:#717171;}

.copyright {
	padding:5px 0 0 0;
}
.footer-logo {
	font-weight:normal;
	font-size:24px;
	line-height:30px;
	font-family: 'Passion One', cursive;
	color:#717171;
	margin:-7px 0 0 0;
	display:inline-block;
}
.footer-list li {
	background:url(../images/list-1-marker.gif) no-repeat 0 6px;
	font-size:12px;
	line-height:18px;
	padding:0 0 10px 14px;
}
	.footer-list li a {
		color:#717171;
		text-decoration:none;
	}
		.footer-list li a:hover {
			color:#fff;
		}
.social-list li {
	text-align:right;	
	padding:5px 0 0 0;
}
	.social-list li a {
		display:inline-block;
		width:27px;
		height:24px;
		background:#585858;
	}
		.social-list li a:hover {
			background:#b30404;
		}

.grid_7 img{transition:1s;}
.grid_7 a{text-shadow: 1px 1px 1px black; z-index:10;
transform: scaleX(1.05); transition:1s;}
.grid_7 img:hover{box-shadow: inset #fff 10px 10px 20px,
	                  #fff 0 0 24px 12px;
transform: scaleX(1.05); transition:1s;}
.grid_4 img:hover{
box-shadow: inset #fff 0 10px 2px, #fff 0 0 24px 12px;
transform: scaleX(1.05); transition:1s;}

.grid_4 img{transition:1s;}




/*************** Õ¿—“–Œ… ¿ SCROLLBAR **************/ 


::-webkit-scrollbar-button { 
background-image:url(''); 
background-repeat:no-repeat; 
width:10px; 
height:0px 
} 

::-webkit-scrollbar-track { 
background-color:#32312e; 
box-shadow:0px 0px 3px #000 inset; 
} 

::-webkit-scrollbar-thumb { 
-webkit-border-radius: 5px; 
border-radius: 5px; 
background-color:#ffcb17; 
box-shadow:0px 1px 1px #fff inset; 
background-image:url('https://yraaa.ru/_pu/24/59610063.png'); 
background-position:center; 
background-repeat:no-repeat; 
} 

::-webkit-resizer{ 
background-image:url(''); 
background-repeat:no-repeat; 
width:10px; 
height:0px 
} 

::-webkit-scrollbar{ 
width: 10px; 
}

/*************** ŒÕ≈÷  Õ¿—“–Œ… » SCROLLBAR **************/ 


.wrapperindent-bot {position:relative;
top:20px;
margin-bottom:40px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    
}